.vscode/*
pyber.egg-info/*
**/.ipynb_checkpoints


examples/data/images/*.png
examples/data/images/*.svg
examples/data/images/*.eps






source/__pycache__/**
examples/data/outputs/**


docs/.generated/*
docs/_build/*
**/__pycache__
**/.DS_Store
.DA_Store
